@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Sacramento&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bad+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500&display=swap);

.sacramento {
  font-family: "Sacramento", cursive;
}

.badScript {
  font-family: "Bad Script", cursive;
}

.bitter {
  font-family: "Bitter", serif;
}
